* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_container {
    max-width: 1200px;
    margin: auto;
    height: 100vh;
}
.carosello{
    margin: auto;
}

.slide {
    width: 50%;
    margin: auto;
    display: none;
    object-fit: cover;
}

.active {
    display: block;
}